body {
    background-color: rgb(30, 30, 30);
    color: white;
    margin: auto;
    width: 25%;
    padding: 10px;
}

    a {
        color: #aaa;
    }
    
    .btn-group button {
        background-color: #4CAF50; /* Green */
        border: 1px solid green;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        width: 200px;
        display: block;
      }
      
      .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
      }
      
      .btn-group button:hover {
        background-color: #3e8e41;
      }

      .btn-group input[type=text] {
        font-size: 16px;
        width: 25%;
        padding: 12px 20px;
        margin: 4px 0;
        box-sizing: border-box;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

      .btn-group input[type=text]:focus {
        width: max-content;
      }

    ul {
        width: fit-content;
        font-size: 24px;
    }
    
    .deleteButton {
        background-color: #4CAF50; /* Green */
        border: 1px solid green;
        color: white;
        padding: 8px 16px;
        margin: 0px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        width: 100px;
      }

    input[type=number] {
        width: 3em
}